@import 'color';

#root {
    min-height: 100vh;
    height: 100%;
}

.feather-green {
    background-color: $feather-green;
}

.feather-green-text {
    color: $feather-green;
}

.no-margin {
    margin: 0;
}
